<form action="/students" method="POST">
  Student Form
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="student[first_name]" id="student[first_name]">
  <input type="text" id="student[last_name]" name="student[last_name]">
  <input type="submit" id="submit" value='Submit Student'>
</form>
